html {
  font-size: 16px;
  box-sizing: border-box;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 150%;
}
::selection {
  background-color: #63e6be;
  color: #fff;
}

.inner {
  width: 100%;
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}
